$primary:#E92569;
$secondary:#0A0A0A;
$dark: #EFEFEF;
$navbar-dark-color:#E5E5E5;
$navbar-dark-active-color: $primary;
$background-colour:#E5E5E5;
$primary-colour-hover: #ffff;
$background-dark: #767676;
$grey-light:#C7C7C7;