html,
body
 {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-size:1rem;
    background-color:$background-colour;
    color: $background-dark;
}

.text-tab-web{
    margin-top: 7px;
}
.img-tabs-container{
    height: 250px;
    background-color: $primary-colour-hover;
    border-radius: 0px 8px 8px 8px;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.tab{
    margin-top: 45px;  
}
.img-tab-web {
    margin-top: 54px;
    margin-left: 27px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: $primary-colour-hover;
    margin-top:4rem;
    font-size: 0.8em;
    color: $secondary;
    height: 165px;

    footer a{
        color:$secondary;
        align-content: center;
    }
    
    footer a:hover {
        color: $secondary;
    }
    
    footer i {
        color: $background-dark;
        font-size: 1em;
    }
    .footer-info {
        margin-top: 120px;  
      
    }
    .two {
        margin-top: 76px;
    }
}

.tabs-one {
    border-radius: 15px;
}
.product {
    border-radius: 15px;
    margin-bottom: 2em;
}
.navbar-dark .navbar-nav .nav-link {
    color: $secondary;
}

.carousel-indicators .data-slide-two {
    background-color: $primary;
}

.carousel-img{
    width: 100%;
}

.card-img-top{
    background-size: contain;

    .header{
        background-color: white;
    }
}
.flex-tv-first{
    display: flex;
    flex-direction: row;
}
.flex-text-tv-web{
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    margin-left:25px;
}
.text-tv-right{
    margin-left: 25px;
    margin-top: 25px;
}
.page-link {
    list-style: none;
}

.list-group-item {
    background-color: $background-colour;
    border:none;
    margin-top: 24px;
}

.embed-responsive-4by3::before {
    padding-top: 72%;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}

.tabs-web-mobil{
    display: none;
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }

    .carousel-img{
        position: relative;
        right: 25%;
        width: 150%;
    }
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .tabs-web-mobil{
        display: block;
    }
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
    .footer{
        height: 35px;
    }
    .footer-info {
        margin-top: 0px;  
    }
}

@media(max-width:1023px) {
    .flex-form {
        display: flex;
        flex-direction: row;
    }
    
    .flex-left  {
    width: 80%;
    }
    
    .right-flex {
        width: 20%;
    }

}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }

    .carousel-img{
        position: relative;
        right: 25%;
        width: 150%;
    }
}


